<% content_for(:sidebar) do %>
<div class='block'>
  <ul class='navigation'>    
    <li><%= link_to("Nueva Factura", new_supplier_hefesto_factura_path(@supplier))%></li>
    <li><%= link_to("Nuevo Recibo", new_supplier_compra_recibo_path(@supplier))%></li>
    <li><%= link_to("Nueva Nota de credito", new_supplier_compra_notacredito_path(@supplier))%></li>
	
	<li><%= link_to("Cuenta corriente", cuentacorriente_supplier_path(@supplier) )%></li>
  </ul>
</div>
<%end%>
