<h1>Editando proveedor</h1>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Ver", supplier_path(@supplier), :icon => "application_go"
end %>
<%end%>

<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Proveedores", suppliers_path
    b.item @supplier.razonsocial, root_path, :active => true
end %>
<%end%>

<%= render 'form' %>